

@import '../../../functions.scss';


main{
	display: flex;
	justify-content: center;	
	align-items: center;
	height: 90vh;
	font-family: manrope;
	margin: toRem(15) toRem(30) 0;
	border-top-style: solid;
	border-color: #000;
	border-width: 1px;
	

	.wrapper{
		max-height: toRem(700);
		width: toRem(1400);
		display: grid;
		grid-template-rows: repeat(7, 1fr);
		grid-template-columns: repeat(4, 1fr);
		grid-gap: toRem(15);
		height: 100%;

		.title{
			grid-column: 1/5;
			grid-row: 1/2;
			font-size: toRem(70);
			font-weight: 300;

			display: flex;
			align-items: center;
		}

		.search{
			grid-column: 1/5;
			grid-row: 2/3;
			border: 1px dashed #000;
			overflow: hidden;
			border-radius: toRem(60);
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(4, 1fr);

			.search__input{
				grid-column: 1/4;
				display: flex;
				align-items: center;
				margin: 0 toRem(30);
				color: var(--backGrey);
				font-size: toRem(35);
			}

			.search__button{
				display: flex;
				align-items: center;
				justify-content: center;

				background-color: var(--backLight);
				color: #fff;
				border-radius: toRem(60);
				font-size: toRem(35);

				grid-column: 4/5;
			}
		}

		.block{
			border-radius: toRem(56);
			background-color: var(--backGrey);
			color: #fff;

			display: grid;
			grid-template-rows: repeat(4, 1fr);
			grid-gap: toRem(10);
			overflow: hidden	;

			.block__title{
				background-color: var(--backLight);
				grid-row: 1/2;
				margin: toRem(12) toRem(12) 0 toRem(12);
				border-radius: toRem(60) toRem(60) toRem(60) 0;

				display: flex;
				align-items: center;
				padding-left: toRem(20);
				font-size: toRem(45);
			}

			ul{
				grid-row: 2/5;
				margin: toRem(12);
				margin-top: 0;
				// font-size: toRem(30);
				
				// cursor: pointer;

				li{
					font-size: toRem(24);
					margin: 0 toRem(20) toRem(15);
					
					i{
						cursor: pointer;
					}
				}
			}
		}

		.current{
			grid-column: 1/3;
			grid-row: 3/7;

			.tasks__task{
				display: flex;
				align-items: center;
				justify-content: space-between;

				.tasks__options{
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: toRem(60);
				}
			}
		}

		.completed{
			grid-column: 3/5;
			grid-row: 3/7;

			li{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}