<!-- <div class="wrapper">
	<div class="title">Задачи</div>
	<div class="flex">
		<div class="actions">
			<div class="actions__title">Управление</div>
			<div class="actions__add">
				<ng-container *ngTemplateOutlet="addNew"></ng-container>
			</div>
		</div>
		<div class="tasks">
			<div class="tasks__block">
				<div class="tasks__title">Текущие</div>
				<div class="tasks__current">
					<ul>
							@if (taskLoading) {
								<div class="loading">
									<app-loading></app-loading>
								</div>
							}
						@for (i of tasks; track $index) {
							<li>
								<div class="tasks__task">
									<p class="tasks__current" [class.finished]="i.isFinished">
										<i class="pi pi-circle" (click)="toggleTask(i)"></i>
										@if (!i.isChanging) {
											{{i.name}}
										}
										@else {
											<form [formGroup]="putTaskForm">
												<input type="text" name="name" formControlName="name">
												<button (click)="changeTask(i.id)">
													<i class="pi pi-arrow-right"></i>
												</button>
											</form>
										}
									</p>
									<p class="tasks__options">
										<i class="pi pi-pencil" (click)="toggleChange(i)"></i>
										@if (!i.isDeleting) {
											<i class="pi pi-times" (click)="deleteTask(i.id, i)"></i>
										}
										@else {
											<i class="pi pi-spin pi-spinner"></i>
										}
									</p>
								</div>
							</li>
						}
					</ul>
				</div>
			</div>
			<div class="tasks__block">
				<div class="tasks__title">Выполненные</div>
				<div class="tasks__current">
					<ul>
						@for (i of deletedTasks; track $index) {
							<li>
								{{i.name}}
								<i class="pi pi-times" (click)="deleteDeletedTask(i.id, i)"></i>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="refresh">
		<app-button (click)="getData()">Refresh</app-button>
	</div>
</div>


<ng-template #change>
	<form [formGroup]="createTaskForm">
		<input type="text" name="name" formControlName="name">
	</form>
</ng-template>

<ng-template #addNew>
	<form [formGroup]="createTaskForm">
		<input type="text" name="name" formControlName="name">
		<app-button (keyup.enter)="submit()" (click)="submit()">Добавить</app-button>
	</form>
</ng-template> -->

<main>
	<div class="wrapper">
		<div class="title">
			<span>Ежедневные задачи</span>
		</div>
		<form class="search" [formGroup]="createTaskForm">
			<input class="search__input" placeholder="введите задачу..." type="text" name="name" formControlName="name">
			<button class="search__button" (keyup.enter)="submit()" (click)="submit()">Добавить</button>
		</form>
		<div class="current block">
			<div class="block__title">
				<span>текущие</span>
			</div>
			<ul>
				@if (taskLoading) {
					<div class="loading">
						<app-loading></app-loading>
					</div>
				}
				@for (i of tasks; track $index) {
					<li>
						<div class="tasks__task">
							<p class="tasks__current" [class.finished]="i.isFinished">
								<i class="pi pi-circle" (click)="toggleTask(i)"></i>
								@if (!i.isChanging) {
									{{i.name}}
								}
								@else {
									<form [formGroup]="putTaskForm">
										<input type="text" name="name" formControlName="name">
										<button (click)="changeTask(i.id)">
											<i class="pi pi-arrow-right"></i>
										</button>
									</form>
								}
							</p>
							<p class="tasks__options">
								<i class="pi pi-pencil" (click)="toggleChange(i)"></i>
								@if (!i.isDeleting) {
									<i class="pi pi-times" (click)="deleteTask(i.id, i)"></i>
								}
								@else {
									<i class="pi pi-spin pi-spinner"></i>
								}
							</p>
						</div>
					</li>
				}
			</ul>
		</div>
		<div class="completed block">
			<div class="block__title">
				<span>выполенные</span>
			</div>
			<ul>
				@for (i of deletedTasks; track $index) {
					<li>
						<p>{{i.name}}</p>
						<i class="pi pi-times" (click)="deleteDeletedTask(i.id, i)"></i>
					</li>
				}
			</ul>
		</div>
	</div>
</main>