$color: #6e717e;
$back: #f8f9fa;
$pink: #ec6bb689;

input{
	width: 250px;
	height: 35px;
	border: 1px solid #000;
	padding: 0 10px;
	margin-right: 20px;
	border-radius: 5px;
}

.wrapper{
	font-family: montserrat;
	font-size: 18px;
	color: $color;

	.title{
		text-align: center;
		font-size: 26px;
	}

	.addNew{

		.addNew__input{
			margin: 20px 0;
		}
	}

	.tasks{
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 200px;
		overflow: hidden;


		.tasks__block{
			width: 48%;
			background-color: #dfefef;
			border-radius: 20px;
			overflow: hidden;
			border: 6px solid #dfefef;

			.tasks__title{
				text-align: center;
				padding: 15px 0;
				background-color: $back;
			}

			.tasks__current{
				
				ul{

					li{
						
						margin: 20px;
						
					}
				}
			}
		}
	}
}

.finished{
	text-decoration: line-through;
	color: #4b4d54;
}