<main>
	<div class="wrapper">
		<div class="card">
			<mat-card>
				<mat-card-header>Header</mat-card-header>
				<mat-card-content>Simple card</mat-card-content>
				<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
				 </mat-card-actions>
			</mat-card>
			
		</div>
	</div>
	<div class="carousel">
		<app-carousel></app-carousel>
	</div>
	<div class="animations">
		<button class="show" (click)="showBlock()">Click me</button>
		<div class="block" [@fadeInOut]="isShown ? 'open' : 'close'">This block is visible</div>
		<!-- @if (isShown) {
			<div class="block" @fadeIn @fadeOut>This block is visible</div>
		} -->
	</div>
</main>