
<div class="card">
	@if (!cardIsChanging) {
		<div class="card__img">
			<img src={{card.source}} alt="img">
		</div>
		<div class="card__title">
			<span>
				{{card.title}}
			</span>
		</div>
		<div class="card__price">
			{{card.price}} €
		</div>
		<div class="card__cart" (click)="addToBasket()">
			<i class="pi pi-shopping-cart"></i>
		</div>
	}
	@else {
		@if (!isChanging) {
			<div class="card__img">
				<img src={{card.source}} alt="img">
			</div>
			<div class="card__title">
				<span>
					{{card.title}}
				</span>
			</div>
			<div class="card__price">
				{{card.price}} €
			</div>
			<button class="card__change button" (click)="toggleChange()">
				<i class="pi pi-pencil"></i>
			</button>
		}
		@else {
			<form [formGroup]="changeCardForm">
				<input class="card__src" formControlName="source">
				<input class="card__title" formControlName="title">
				<input class="card__price" formControlName="price">
				<select class="card__sex" placeholder="sex" name="sex" formControlName="sex">
					<option hidden value="" disabled selected>sex</option>
					<option value="men">men</option>
					<option value="women">women</option>
				</select>
				<button class="card__change button" (click)="toggleChange()">
					<i class="pi pi-times"></i>
				</button>
				<button class="card__accept button" (click)="changeCard()">
					<i class="pi pi-check"></i>
				</button>
				<button class="card__delete button" (click)="deleteCard()">
					<i class="pi pi-trash"></i>
				</button>
				<div class="card__img">
					<img src={{card.source}} alt="img">
				</div>
			</form>
		}
		
	}
	
</div>
