
	@if (!isChanging) {
		<div class="card">
			@if (cardIsChanging) {
				<button class="card__change button" (click)="toggleChange()">
					<i class="pi pi-pencil"></i>
				</button>
			
			}
			<div class="card__img">
				<img src={{card.source}} alt="img">
			</div>
			<div class="card__title">
				<span>
					{{card.title}}
				</span>
			</div>
			<button class="card__button" (click)="addToBasket()">
				{{card.price}} €
			</button>
		</div>
	}
	@else {
		<form class="card" [formGroup]="changeCardForm">	

			@if (cardIsChanging) {
				<button class="card__change button" (click)="toggleChange()">
					<i class="pi pi-pencil"></i>
				</button>
			}

			<button class="card__accept button" (click)="changeCard()">
				<i class="pi pi-check"></i>
			</button>

			<button class="card__delete button" (click)="deleteCard()">
				<i class="pi pi-times"></i>
			</button>

			<div class="card__img grey">
				<input type="text" name="source" formControlName="source" placeholder="source">
			</div>
			<div class="card__title grey">
				<input type="text" name="title" formControlName="title" placeholder="title">
			</div>
			<div class="card__button grey">
				<input type="text" name="price" formControlName="price" placeholder="price">
			</div>

			<!-- <div class="delete">
				<button (click)="deleteData(i)">	
					<i class="pi pi-times"></i>
				</button>
			</div> -->


			<!-- <div class="accept">
				<button (click)="chandeData(i)">	
					@if (!i.isChanging) {
						<i class="pi pi-pencil"></i>
					}
					@else {
						<i class="pi pi-check"></i>
					}
				</button>
			</div> -->
		</form>
	}
