@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$pink: #e85aad;

p{
	font-family: permanent marker;
	font-size: 40px;
	color: $pink;
	text-align: center;
	margin-top: 200px;
}
