
<main>
	<div class="wrapper">
		<div class="title">
			<span>Market</span>
		</div>
		<div class="center">
			<div class="settings">
				<button (click)="toggleChange()">
					<i class="pi pi-cog"></i>
				</button>
			</div>
			<form class="search" [formGroup]="filterCardForm">
				<input class="search__field" placeholder="search" formControlName="title">
				<button class="search__button" (click)="filterCards()">
					<i class="pi pi-search"></i>
				</button>
			</form>
			@if (cardIsFiltering) {
				<button class="clear" (click)="clear()">clear</button>
			}
		</div>
		<div class="basket">
			<button routerLink="/panel/card">
				<i class="pi pi-shopping-cart"></i>
				@if (basket?.length) {
					<div class="info">
						{{basket?.length}}
					</div>
				}
			</button>
		</div>
		@if (!cardIsFiltering) {
			@for (item of cards; track $index) {
				<app-item (onAddToBasket)="addToBasket($event)"
				(onChange)="getData()"
				[cardIsChanging]="cardIsChanging"
				[card]="item"></app-item>
			}
		}
		@else {
			@if (filteredCards.length >= 1) {
				@for (item of filteredCards; track $index) {
					<app-item (onAddToBasket)="addToBasket($event)"
					(onChange)="getData()"
					[cardIsChanging]="cardIsChanging"
					[card]="item"></app-item>
				}
			}
			@else {
				<p>no data</p>
			}
		}
		<div class="new">
			<i class="pi pi-plus" (click)="addItem()"></i>
		</div>
	</div>
</main>