
<main>
	<div class="wrapper">
		<div class="title">
			<span>Маркет</span>
		</div>
		<!-- <div class="settings">
			<button routerLink="/panel/settings">
				<i class="pi pi-cog"></i>
			</button>
		</div> -->
		<div class="settings">
			<button (click)="toggleChange()">
				<i class="pi pi-cog"></i>
			</button>
		</div>
		<div class="basket">
			<button routerLink="/panel/card">
				<i class="pi pi-shopping-cart"></i>
				@if (basket?.length) {
					<div class="info">
						{{basket?.length}}
					</div>
				}
			</button>
		</div>
		@for (item of cards; track $index) {
			<app-item (onAddToBasket)="addToBasket($event)"
			[cardIsChanging]="cardIsChanging"
			[card]="item"></app-item>
		}
	</div>
</main>