<!-- <div class="wrapper">
	<div class="left">
		<ng-container>
			@if (turnedOn) {
				<p>Подогрев включен</p>
			}
			@else {
				<p>Подогрев выключен</p>
			}
		</ng-container>
		<br>
	
		<app-press-button (isHeating)="switch($event)"></app-press-button>
		@switch (statement) {
			@case (1) {
				One
			}
			@case (2) {
				{{statement * 2}}
			}
			@default {
				Default
			}
		}
	
		<app-button (click)="plus()">+</app-button>
		<app-button (click)="minus()">-</app-button>
	
		<br>
		<br>
		
		<div class="service">
			<p class="service__title">Testing Service</p>
			<input [(ngModel)]="newName">
			<br>
			<app-button (click)="addItem(newName)">Add</app-button>
			<p>Name: {{newName}}</p>
			<ul>
				@for (item of items; track $index) {
					<li>{{item}}</li>
				}
			</ul>
		</div>
	</div>
	<div class="center">
		<app-form></app-form>
	</div>
	<div class="right">
		<app-server></app-server>
	</div>
	<div class="right_post">
		<app-post></app-post>
	</div>
</div> -->

<main>
	<div class="wrapper">
		<div class="title">
			<span>Маркет</span>
		</div>
		<div class="settings">
			<button routerLink="/panel/settings">
				<i class="pi pi-cog"></i>
			</button>
		</div>
		<div class="basket">
			<button routerLink="/panel/card">
				<i class="pi pi-shopping-cart"></i>
				@if (basket.length) {
					<div class="info">
						{{basket.length}}
					</div>
				}
			</button>

		</div>
		@for (item of cards; track $index) {

			<app-item [card]="item"></app-item>

			<!-- <div class="card">
				<div class="card__img">
					<img src={{item.source}} alt="img">
				</div>
				<div class="card__title">
					<span>
						{{item.title}}
					</span>
				</div>
				<button class="card__button" (click)="addToBasket(item)">
					{{item.price}} €
				</button>
			</div> -->
		}
	</div>
</main>