<!-- <div class="cover">
	<div class="wrapper">
		<div class="top">
			<a routerLink="/tasks" class="block">Задачи</a>
			<a routerLink="/panel" class="block">Управление</a>
		</div>
		<div class="bottom">
			<a routerLink="/finance" class="block">Финансы</a>
			<a routerLink="/s" class="block">???</a>
		</div>
	</div>
</div> -->

<main>
	<div class="wrapper">
		<div class="title">
				<p>Daniil Stepanenko</p>
				<p>universal test</p>
				<p>page for</p>
				<p>compоnents</p>
		</div>
		<div class="block_big block" routerLink="tasks">
			<div class="block__title">
				<p>ежедневные</p>
				<p>задачи</p>
			</div>
			<div class="block__circle">
				<i class="pi pi-arrow-up-right"></i>
			</div>		
		</div>
		<div class="block__1 block" routerLink="finance">
			<div class="block__circle">
				<i class="pi pi-arrow-up-right"></i>
			</div>		
			<div class="block__title"><span>финансы</span></div>
		</div>
		<div class="block__2 block" routerLink="panel">
			<div class="block__circle">
				<i class="pi pi-arrow-up-right"></i>
			</div>		
			<div class="block__title"><span>маркет</span></div>
		</div>
		<div class="search" routerLink="material">
			<p>material</p>
			<!-- <div class="search__left">
				<div class="search__title">
					<span>поиск</span>
				</div>
				<i class="pi pi-search"></i>
			</div>
			<div class="search__right">
				<span>material</span>
			</div> -->
		</div>
	</div>
</main>