@import '../../../../../functions.scss';

body{
	background-color: #f4f4f4;
}

main{
	display: flex;
	justify-content: center;	
	align-items: start;
	// height: 90vh;
	font-family: manrope;
	padding: toRem(15) toRem(30) 0;
	background-color: #f4f4f4;
	// display: grid;
	// grid-template-columns: toRem(10) 1fr toRem(10);
	// grid-template-rows: toRem(10) 1fr toRem(10);
	// justify-items: center;

	min-height: 92vh;
	

	.wrapper{
		// grid-column: 2/3;
		// grid-row: 2/3;
		// max-height: toRem(700);
		width: toRem(900);
		display: grid;
		grid-template-rows: repeat(auto-fill, toRem(110));
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: auto;
		grid-gap: toRem(15);
		// min-height: 90vh;
		// border: 1px solid #000;
		
	}

	.title{
		grid-column: 1/4;
		grid-row: 1/2;
		font-size: toRem(70);
		font-weight: 300;

		display: flex;
		align-items: center;
	}

	.back{
		grid-row: 1/2;
		grid-column: 4/5;
		display: flex;
		align-items: center;
		justify-content: end;
		font-size: 2rem;

		button{
			background-color: var(--backGrey);
			background-color: #000;
			color: #fff;
			padding: toRem(15);
			border-radius: 20px;
		}
		
		i{
			font-size: 2.5rem;
			
		}
	}

	.container{
		grid-column: 1/5;
		display: grid;
		grid-template-rows: 50px 20px repeat(auto-fill, toRem(130));
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: toRem(110);
		// border: 1px solid #000;
		// grid-gap: toRem(15);

		background-color: #fff;
		font-size: toRem(18);
		font-weight: 300;

		.container__quantity{
			grid-column: 1/3;
			text-align: center;
			font-size: toRem(22);
			padding: toRem(25) 0;
			
			.quantity_orange{
				color: var(--orange);
			}
		}

		.container__title{
			grid-row: 2/3;
			grid-column: 1/5;
			font-size: toRem(14);
			text-align: center;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			border-bottom: 1px solid var(--backGrey);
			padding: 0 toRem(80);

			.title__name{
				grid-column: 1/2;
			}

			.title__price{
				grid-column: 4/5;
			}

			
		}

		.container__item{
			grid-column: 1/5;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			align-items: center;
			justify-items: center;
			border-bottom: 1px solid var(--backGrey);
			margin: 0 toRem(80);

			.item__img{
				grid-column: 1/2;
				width: toRem(90);
				height: toRem(90);

				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				img{
					width: 100%;
				}
			}

			.item__title{
				grid-column: 2/4;
			}

			.item__price{
				grid-column: 4/5;

				button{
					background-color: #fff;
				}
			}
		}

		.order{
			grid-column: 3/4;
			display: flex;
			align-items: center;
			
			

			.order__button{
				background-color: var(--orange);
				color: #fff;
				font-weight: 400;
				font-size: toRem(20);

				border-radius: toRem(10);

				width: toRem(185);
				height: toRem(45);
			}
		}

		.sum{
			grid-column: 4/5;
			font-weight: 700;
			font-size: toRem(20);
			display: flex;
			align-items: center;

			span{
				font-weight: 300;
				padding: 0 toRem(10);
			}
		}
	}

	// .container{
	// 	// border-top: 1px solid #000;
	// 	// border-radius: toRem(55);
	// 	// font-size: toRem(25);
	// 	overflow: hidden;
	// 	grid-column: 1/5;
	// 	grid-row: 2/7;

	// 	display: grid;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-template-rows: repeat(5, 1fr);
	// 	// row-gap: toRem(10);

	// 	.container__item{
	// 		grid-row: 1/5;
	// 		grid-column: 1/3;

	// 		display: grid;
	// 		grid-template-rows: repeat(6, toRem(60));
	// 		grid-auto-flow: row;
	// 		grid-auto-rows: toRem(60);
	// 		overflow: scroll;


	// 		.item{
	// 			display: grid;
	// 			grid-template-columns: repeat(2, 1fr);

	// 			div{
	// 				display: flex;
	// 				align-items: center;
	// 			}

	// 			.item__title{
	// 				border-right: 1px solid #000;
	// 				padding: 0 toRem(50) 0;

	// 				i{
	// 					padding: toRem(10);
	// 					font-size: 1.5rem;
	// 					background-color: #fff;
	// 				}
	// 			}

	// 			.item__price{
	// 				justify-content: end;
	// 				padding-right: toRem(100);
	// 			}
	// 		}
	// 	}

	// 	.container__text{
	// 		grid-row: 5/6;
	// 		grid-column: 1/2;
	// 		background-color: #000;
	// 		color: #fff;
	// 	}

	// 	.container__total{
	// 		grid-row: 5/6;
	// 		grid-column: 2/3;
	// 		background-color: #000;
	// 		color: #fff;
	// 	}

	// 	.center{
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 	}
	// }

	// .checkout{
	// 	grid-row: 6/7;
	// 	grid-column: 4/5;
	// 	background-color: #f96e17;
	// 	color: #fff;
	// 	font-size: toRem(25);

	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-around;
	// 	border-radius: toRem(55);
	// }
}