
<main>
	<div class="wrapper">
		<div class="title">
			<span>Финансы</span>
		</div>
		<div class="halving">
			<div class="halving__title">
				<span>halving in</span>
			</div>
			<div class="halving__date">
				<div class="date__day">{{halving}}</div>
				<div class="date__text">days</div>
			</div>
		</div>
		<div class="rates">
			<div class="rates__title">
				<span>курс валют</span>
			</div>
			<div class="rates__common">
				<ul>
					<li>USD-RUB: {{(usdRubRate$ | async)?.data?.amount | number: '0.2-2' }}</li>
					<li>BTC-USD: {{(btcUsdRate$ | async)?.data?.amount | currency : 'USD' : 'symbol' : '0.0-0' }}</li>
					<li>BTC-RUB: {{(btcRubRate$ | async) | number: '0.0-0'}}</li>
					<li><button (click)="refresh()"><i class="pi pi-refresh" [class.pi-spin]="isLoading"></i></button></li>
				</ul>
			</div>
		</div>
		<div class="finances">
			<div class="finances__total">
				<div class="total__title">
					<span>текущие финансы</span>
				</div>
				<div class="total__common">
					<div class="btc">Биткойны</div>
					<div class="btc__quantity">
						{{(bitcoinAmount$ | async) | number: '0.0-7'}}
					</div>
					<div class="rub">Рубли</div>
					<div class="rub__quantity">
						{{(rubAmount$ | async) | number: '0.0-0'}}
					</div>
					<div class="usd">USD</div>
					<div class="usd__quantity">
						{{(usdAmount$ | async) | currency }}
					</div>
				</div>
			</div>
			<div class="finances__special">
				<div class="special__title">
					<span>special</span>
				</div>
				<div class="special__common">
					<p>0.0022</p>
					<div>{{(firstSpecialAmount$ | async) | number: '0.0-0'}}</div>
					<p>0.00375</p>
					<div>{{(secondSpecialAmount$ | async) | number: '0.0-0'}}</div>
				</div>
			</div>
		</div>
	</div>
</main>