
$pink: #e85aad;

.wrapper{

	*{
		margin-bottom: 10px;
	}

	input{
		border: 1px solid #000;
		border-radius: 3px;
		padding: 3px 5px;
	}

	select{
		border: 1px solid #000;
		border-radius: 3px;
		padding: 3px 5px;
		width: 150px;
	}

	.button{
		background-color: $pink;
		color: #FFF;
		padding: 10px;
		border-radius: 6px;
		font-size: 16px;
		border: 0px solid #000;
	}
}


.alert{
	font-size: 16px;
	color: red;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

select.ng-touched.ng-invalid {border:solid red 2px;}
select.ng-touched.ng-valid {border:solid green 2px;}