<div class="wrapper">
	<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
		<div class="block">
			<p>Имя</p>
			<input name="name" formControlName="name">
			@if (myForm.controls['name'].invalid && myForm.controls['name'].touched) {
				<div class="alert">Не указано имя</div>
			}
		</div>
		<div class="block">
			<p>Email</p>
			<input name="email" formControlName="email">
			@if (myForm.controls['email'].invalid && myForm.controls['email'].touched) {
				<div class="alert">Неверно указан email</div>
			}
		</div>
		<div class="block">
			<p>Телефон</p>
			<input name="phone" formControlName="phone">
			@if (myForm.controls['phone'].invalid && myForm.controls['phone'].touched) {
				<div class="alert">Неверно указан телефон</div>
			}
		</div>
		<input class="button" type="submit" [disabled]="myForm.invalid" value="Отправить" />
	</form>
	<p>Имя: {{myForm.value.name}}</p>
	<p>Email: {{myForm.value.email}}</p>
	<p>Телефон: {{myForm.value.phone}}</p>

	<br>
	<input type="text" [(ngModel)]="test" (onModelChange)="showText()">
	<br>
	<input type="text" [formControl]="testControl">
	<br>
	@if (showMessage) {
		<span>там написано привет</span>
	}
</div>