@import './assets/null.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');
html{
	--pink: #e85aad;
	--color: #6e717e;
	--back: #f8f9fa;
	--pinkBack: #f738e112;
	--aquaBack: #dfefef
	
}
/// new ///
/// 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html{
	--backGrey: #BABABA;
	--backLight: #D9D9D9;
	--orange: #f96e17;
	--orangeHover: #cf5d16;
	--orangeActive: #7d370b
}

